.weather {
    margin: 0 auto;
    height: 100%;
    max-width: 1860px;
    display: grid;
    grid-template-columns: 360px 720px 360px 170px 170px;
    grid-template-rows: 170px 170px 324px;
    gap: 20px;
    justify-content: center;

    &_active {
        transform: scale(100%);
        opacity: 1;
        visibility: visible;
    }
}

@media(max-width: 1919px) {
    .weather {
        grid-template-columns: 360px 360px 170px 170px;
        grid-template-rows: 170px 170px 360px 324px;
    }
}