.moon-phase {
    background-color: var(--secondary-color);
    border-radius: 15px;
    grid-column: 5/7;
    grid-row: 1/2;
}

@media(max-width: 1919px) {
    .moon-phase {
        grid-row: 1/2;
        grid-column: 4/6;
    }
}