.current-location {
    color: var(--font-main-color);
    font-size: 30px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 15px;
    height: 53px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.1s;
    transform-origin: top center;
    grid-column: 1/3;

    p {
        margin: 0;
    }

    &_active {
        transform: scale(100%);
        opacity: 1;
        visibility: visible;
        display: flex;
    }

    &_short {
        grid-column: 1/2;
    }
}