.current-location {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 53px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 15px;
}