@import '../../scss/mixins';

.twilight {
    @include card-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-row: 2/3;
    grid-column: 3/4;
    position: relative;

    svg {
        width: 70px;
        height: 70px;

        path {
            stroke: #ff8329;
        }

        path {
            &:nth-last-child(1) {
                stroke: var(--icon-color);
            }
        }
    }

    p {
        font-size: 20px;
    }

    &_sunset {
        grid-column: 4/5;

        svg {
            path {
                stroke: var(--icon-color);
            }

            circle {
                stroke: #ff8329;
            }
        }
    }
}

@media(max-width: 1919px) {
    .twilight {
        grid-row: 3/4;
        grid-column: 2/3;
        
        &_sunset {
            grid-column: 3/4;
        }
    }
}