.locations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    height: 53px;
    background-color: var(--secondary-color);
    padding: 0 10px;
    border-radius: 15px;
    overflow: hidden;
    flex-grow: 1;
    transform-origin: top;
     
    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 5px;
        overflow: scroll;
        scrollbar-width: none;
        transition: all 0.05s;
    }

    &__item {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 20px;
        background-color: var(--additional-color);
        color: var(--font-secondary-color);
        flex-shrink: 0;
        transition: all 0.1s;
        cursor: pointer;

        &:hover {
            background-color: var(--additional-color-hover);
        }

        &:active {
            background-color: var(--additional-color-active);
        }
    }
}