.weather-card.hourly {
    padding: 15px 0 20px
}

.hourly {
    grid-column: 2/6;
    grid-row: 3/4;
    position: relative;

    .weather-card {
        padding: 0;

        &__header {
            padding: 0 15px;
        }
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 125%;
        height: 100%;
        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        pointer-events: none;
    }

    &__content {
        position: relative;
        height: calc(100% - 49.5px);
        margin-top: 15px;
        overflow: hidden;
    }

    &__items {
        height: 100%;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        padding: 15px;
        overflow: scroll;
        scrollbar-width: none;
    }

    &__item {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        gap: 10px;
        justify-content: space-between;
        min-width: 110px;

        &>span {
            opacity: 1;
            font-weight: 700;
        }

        ul {
            padding: 5px 0;
            border-top: 1px solid var(--additional-color);
            border-bottom: 1px solid var(--additional-color);
            width: 100%;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }

            svg {
                width: 20px;
                height: 20px;
                opacity: 0.8;
            }
        }

        svg {
            width: 60px;
        }
    }
}

@media(max-width: 1919px) {
    .hourly {
        grid-column: 1/5;
        grid-row: 4/5;
    }
}