@import '../../scss/mixins';

.hourly-forecast {
    @include card-base;
    grid-column: 2/6;
    grid-row: 3/4;
}

@media(max-width: 1919px) {
    .hourly-forecast {
        grid-column: 1/5;
        grid-row: 4/5;
    }
}