.hourly-forecast {
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    grid-column: 2/7;
    grid-row: 3/4;
}

@media(max-width: 1919px) {
    .hourly-forecast {
        grid-column: 1/6;
        grid-row: 4/5;
    }
}