.day-overall {
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 15px;
    grid-column: 2/3;
    grid-row: 1/2;
}

@media(max-width: 1919px) {
    .day-overall {
        grid-column: 2/4;
        grid-row: 1/2;
    }
}