@import '../../scss/animations';

.locations {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 53px;
    background-color: var(--secondary-color);
    top: calc(100% + 15px);
    left: 0;
    margin: 0;
    padding: 0 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: all 0.1s;
    transform-origin: top center;
    
    &_active {
        transform: scale(100%);
        opacity: 1;
        visibility: visible;
    }
     
    &__content {
        overflow: scroll;
        scrollbar-width: none;
        gap: 20px;
        transition: all 0.05s;
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        border-radius: 5px;
    }

    &__message {
        position: absolute;
        padding: 5px 10px;
        left: 0;
        font-size: 35px;
        color: var(--font-main-color);
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    &__item {
        color: var(--font-secondary-color);
        font-size: 20px;
        cursor: pointer;
        background-color: var(--additional-color);
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s;
        flex-shrink: 0;
        overflow: visible;

        &:hover {
            background-color: var(--additional-color-hover);
        }

        &:active {
            background-color: var(--additional-color-active);
        }
    }

    &_short {
        width: calc(100% - 163px);
    }
}