.theme-switcher {
    &__themes-list {
        display: flex;
        align-items: center;
        height: 53px;
        padding: 0 10px;
        background-color: var(--secondary-color);
        gap: 10px;
        flex-shrink: 0;
        order: 2;
        border-radius: 15px;
        transform-origin: top;
        overflow: hidden;
    
        li {
            display: flex;
            align-items: center;

            &:nth-of-type(1) {
                button {
                    background-color: #1d232f;
                }
            }
    
            &:nth-of-type(2) {
                button {
                    background-color: #1F2025;
                }
            }
    
            &:nth-of-type(3) {
                button {
                    background-color: #FFFFFF;
                }
            }
        }
        
        button {
            width: 36px;
            aspect-ratio: 1;
            border: none;
            border-radius: 10px;
            transition: all 0.1s;
            cursor: pointer;
    
            &:focus-visible {
                outline: auto;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transform: scale(105%);
            }
    
            &:hover {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                transform: scale(105%);
            }
    
            &:active {
                box-shadow: none;
                transform: scale(100%);
            }
        }
    }


    &__open-btn {
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        transition: all 0.1s;

        svg {
            width: 40px;
            height: 40px;
            
            path {
                stroke: var(--icon-color);
            }
        }

        &:focus-visible {
            transform: scale(110%);
            outline: auto;
        }

        &:hover {
            transform: scale(110%);
        }

        &:active {
            transform: scale(100%);
        }
    }
}