:root {
    --main-color: #1d232f;
    --secondary-color: #212733;
    --additional-color: #272b68;
    --additional-color-hover: #24285e;
    --additional-color-active: #202353;
    --border-color: #FFFFFF;
    --font-main-color: #FFFFFF;
    --font-secondary-color: #FFFFFF;
    --icon-color: #FFFFFF;
}

* {
    font-family: Urbanist, sans-serif;
    box-sizing: border-box;
}

#root {
    box-sizing: border-box;
    background-color: var(--main-color);
    min-height: 100vh;
    // height: 100%;
    padding: 30px;
}