.locations, .current-location {
    &-appear {
        transform: scale(0);
        opacity: 0;
        visibility: 0;
    }

    &-appear-active {
        transform: scale(1);
        opacity: 1;
        visibility: 1;
    }
}

@keyframes idle-animation {
    100% {
        opacity: 0.4;
    }
}

.idle {
    // animation: 'idle-animation' 2s infinite alternate ease-in-out;
    // backface-visibility: hidden;
    // opacity: 1;
}