.locations, .current-location {
    &-appear {
        transform: scale(0);
        opacity: 0;
        visibility: 0;
    }

    &-appear-active {
        transform: scale(1);
        opacity: 1;
        visibility: 1;
    }
}

// @keyframes message-animation {
//     0% {
//         // opacity: 1;
        
//     }

//     100% {
//         // opacity: 0.8;
//         translate: 0 10px;
//     }
// }