.weather {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 1860px;
    display: grid;
    grid-template-columns: 360px 720px 1fr 1fr 360px;
    grid-template-rows: 170px 170px minmax(360px, auto);
    gap: 20px;
    justify-content: center;
    z-index: 1;

    &_active {
        transform: scale(100%);
        opacity: 1;
        visibility: visible;
    }
}

.weather-card {
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 15px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            align-items: baseline;
            gap: 15px;
        }
    }

    &__content {
        height: 100%;
        border-radius: inherit;
    }
}

@media(max-width: 1919px) {
    .weather {
        max-width: 1120px;
        grid-template-columns: 360px 1fr 1fr 360px;
        grid-template-rows: minmax(360px, auto) 170px 170px 360px;
    }
}